<%- include("_header") -%>

<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Car Rental</h3>
        <strong>CR</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/admin">
                <i class="fas fa-home"></i>
                Home
            </a>
            <a href="/admin/vehicles">
                <i class="fas fa-car"></i>
                Vehicles List
            </a>
        </li>
    </ul>
</nav>