<%- include("_sidebar") -%>

    <div id="content">

        <%- include("_navbar") -%>
            <script src="/send_url.js"></script>
            <form action="/admin/add" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Vehicle Name</label>
                    <input type="text" class="form-control" placeholder="Enter vehicle name" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="number" class="form-control" placeholder="Enter price" name="price">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Capacity</label>
                    <input type="number" class="form-control" placeholder="Enter capacity" name="capacity">
                </div>
                <button type="submit" class="btn btn-primary" value="add">Submit</button>
            </form>
    </div>

    <%- include("_footer") -%>